node_modules/
latex/build/
dist/
.cache/

# Local Netlify folder
.netlify

# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.lot

# OS / editor files
.DS_Store
Thumbs.db
*.swp
*~
.vscode/
